vue/node_modules
vue/dist
release/
/build
/coverage.txt
__pycache__
/dist
/vendor

# nix
/result

# pystarport
/data

# Jetbrains
.idea

# vscode
.vscode

# yaml for test
integration_tests/configs/*.yaml