# /etc/systemd/system/gorc.service
[Unit]
Description=gorc
ConditionPathExists=<GORC_BINARY>
After=network.target

[Service]
Type=simple
User=<GORC_USER>
WorkingDirectory=<GORC_BINARY_DIR>
ExecStart=<GORC_BINARY> -c <GORC_BINARY_DIR>/gorc.toml <GORC_START_COMMAND>
Restart=on-failure
RestartSec=10

Environment="RELAYER_API_URL=https://cronos.org/pioneer11/relayer/relayer"

[Install]
WantedBy=multi-user.target