[metadata]
name = "standard"
author = "core-app"

[global]
plan = "benchmark"
case = "entrypoint"
total_instances = 10
runner = "local:docker"
disable_metrics = false

[global.run.test_params]
chain_id = "cronos_777-1"
halt_height = "5"

[[groups]]
id = "validators"
[groups.instances]
count = 3
[groups.run]
artifact = "ghcr.io/crypto-org-chain/cronos-testground:latest"

[[groups]]
id = "fullnodes"
[groups.instances]
count = 7
[groups.run]
artifact = "ghcr.io/crypto-org-chain/cronos-testground:latest"
