name: Check Markdown links
on:
  schedule:
    - cron: "* */24 * * *"
  pull_request:
  push:
    branches:
      - main
      - release/**
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          files: |
            docs/**/*.md
      - uses: gaurav-nelson/github-action-markdown-link-check@4d5a901466436052915a68d4a856171a50b2c762 # 1.0.13
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          folder-path: "docs"
