name: Run Lint
# Lint runs golangci-lint over the entire cronos repository This workflow is
# run on every pull request and push to main The `golangci` will pass without
# running if no *.{go, mod, sum} files have been changed.
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  golangci:
    name: Run golangci-lint
    runs-on: macos-latest
    timeout-minutes: 120
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.25.0'
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@fc6e360bedc9ee72d75e701397f0bb30dce77568 # v31.5.2
        with:
          nix_path: nixpkgs=channel:nixos-25.11
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files: |
            **/*.go
            *.mod
            *.sum
      - name: run golangci-lint
        run: |
          nix profile install -f ./nix golangci-lint
          nix profile install -f ./nix rocksdb
          export PKG_CONFIG_PATH=$HOME/.nix-profile/lib/pkgconfig
          export CGO_CFLAGS="$(pkg-config --cflags rocksdb)" CGO_LDFLAGS="$(pkg-config --libs rocksdb)"
          golangci-lint version

          BUILD_TAGS=rocksdb,grocksdb_clean_link,objstore
          go build -tags $BUILD_TAGS ./cmd/cronosd
          golangci-lint run --fix --output.text.path stdout --path-prefix=./ --timeout 30m --build-tags $BUILD_TAGS
          cd versiondb
          golangci-lint run --fix --output.text.path stdout --path-prefix=./versiondb --timeout 30m --build-tags $BUILD_TAGS
          cd ../memiavl
          golangci-lint run --fix --output.text.path stdout --path-prefix=./memiavl --timeout 30m --build-tags objstore
          cd ../store
          golangci-lint run --fix --output.text.path stdout --path-prefix=./store --timeout 30m --build-tags objstore
        # Check only if there are differences in the source code
        if: steps.changed-files.outputs.any_changed == 'true'
      - name: check working directory is clean
        id: changes
        run: |
          set +e
          (git diff --no-ext-diff --exit-code)
          echo "changed=$?" >> $GITHUB_OUTPUT
      - if: steps.changes.outputs.changed == 1
        run: echo "Working directory is dirty" && exit 1

  lint-python:
    name: Lint python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files: |
            **/poetry.lock
            **/pyproject.toml
            **/*.py
      - uses: cachix/install-nix-action@fc6e360bedc9ee72d75e701397f0bb30dce77568 # v31.5.2
        with:
          nix_path: nixpkgs=channel:nixos-25.11
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
        if: steps.changed-files.outputs.any_changed == 'true'
      - uses: cachix/cachix-action@6a9a34cdd93d0ae4b4b59fd678660efb08109f2f # v12
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          name: cronos
      - run: nix-shell -I nixpkgs=./nix -p test-env --run "make lint-py"
        if: steps.changed-files.outputs.any_changed == 'true'

  lint-nix:
    name: Lint nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files: |
            *.nix
            **/*.nix
      - uses: cachix/install-nix-action@fc6e360bedc9ee72d75e701397f0bb30dce77568 # v31.5.2
        with:
          nix_path: nixpkgs=channel:nixos-25.11
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
        if: steps.changed-files.outputs.any_changed == 'true'
      - run: nix-shell -I nixpkgs=./nix -p nixfmt-rfc-style --run "make lint-nix"
        if: steps.changed-files.outputs.any_changed == 'true'
