name: Protobuf
# Protobuf runs buf (https://buf.build/) lint and check-breakage
# This workflow is only run when a .proto file has been changed
on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.proto
      - name: lint
        run: make proto-lint
        if: env.GIT_DIFF
  breakage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.proto
      - name: check-breakage
        run: make proto-check-breaking
        if: env.GIT_DIFF
  protogen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.proto
      - name: proto-gen-ci
        if: env.GIT_DIFF
        run: |
          make proto-gen-ci # proto-swagger-gen  FIXME swagger-gen result is not reproducible in CI
          git checkout -- go.mod go.sum # FIXME doc gen not reproducible in CI
      - name: check working directory is clean
        uses: numtide/clean-git-action@main
