name: release

on:
  push:
    tags:
      - "v*.*.*"
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: setup release environment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |-
          echo 'GITHUB_TOKEN=${{secrets.GITHUB_TOKEN}}' > .release-env
      - name: draft release
        run: make release
      - uses: cachix/install-nix-action@v15
      - uses: cachix/cachix-action@v10
        with:
          name: cronos
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: nix bundle
        run: |
          MAINNET_TAR="cronos_$(echo ${GITHUB_REF##*/} | cut -c 2-)-rocksdb_Linux_x86_64.tar.gz"
          TESTNET_TAR="cronos_$(echo ${GITHUB_REF##*/} | cut -c 2-)-testnet-rocksdb_Linux_x86_64.tar.gz"
          mkdir ./bin
          nix bundle .
          mv ./cronosd ./bin
          tar cfzh "${MAINNET_TAR}" ./bin
          nix bundle .#cronosd-testnet
          mv ./cronosd ./bin
          tar cfzh "${TESTNET_TAR}" ./bin
          echo 'FILES<<EOF' >> $GITHUB_ENV
          echo "${MAINNET_TAR}" >> $GITHUB_ENV
          echo "${TESTNET_TAR}" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
          ls -l "${MAINNET_TAR}"
          ls -l "${TESTNET_TAR}"
      - name: release linux rocksdb binaries
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: "${{ env.FILES }}"
