name: integration tests
on:
  pull_request:
  push:
    branches:
      - main
      - release/**
    tags:
      - "*"

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: changed-files
        uses: tj-actions/changed-files@v29.0.2
        with:
          files: |
            docs
            **.md
      - uses: cachix/install-nix-action@v15
        if: steps.changed-files.outputs.only_changed == 'false'
      - uses: cachix/cachix-action@v10
        if: steps.changed-files.outputs.only_changed == 'false'
        with:
          name: cronos
          extraPullNames: dapp
          # github don't pass secrets for pull request from fork repos,
          # in that case the push is disabled naturally.
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: Run integration tests
        if: steps.changed-files.outputs.only_changed == 'false'
        run: make run-integration-tests
      - name: 'Tar debug files'
        if: failure()
        run: tar cfz debug_files.tar.gz -C "${TMPDIR-/tmp}/pytest-of-runner" .
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: debug-files
          path: debug_files.tar.gz
          if-no-files-found: ignore

  upload-cache:
    if: github.event_name == 'push'
    needs: ["integration_tests"]
    strategy:
      matrix:
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - id: changed-files
        uses: tj-actions/changed-files@v29.0.2
        with:
          files: |
            docs
            *.md
      - uses: cachix/install-nix-action@v15
        if: steps.changed-files.outputs.only_changed == 'false'
      - uses: cachix/cachix-action@v10
        if: steps.changed-files.outputs.only_changed == 'false'
        with:
          name: cronos
          extraPullNames: dapp
          # github don't pass secrets for pull request from fork repos,
          # in that case the push is disabled naturally.
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: 'instantiate integration test env'
        if: steps.changed-files.outputs.only_changed == 'false'
        run: nix-store -r $(nix-instantiate integration_tests/shell.nix)
